
# Analysis Requirements
pandas
matplotlib
seaborn
h5py
pooch
torch
scikit-learn
mne==1.9.0
nilearn
nibabel
openpyxl

# Docs requirements
sphinx >= 7.2	
sphinx-gallery #==0.8.1
sphinx_rtd_theme #==0.5.0
sphinx-tabs #==1.3.0
sphinx-copybutton #==0.3.1
sphinxcontrib-httpdomain #==1.7.0
sphinxcontrib-towncrier
sphinxcontrib-youtube
sphinxcontrib.bibtex
sphinx-design  
numpydoc==1.1.0
recommonmark==0.6.0
versioneer==0.19
rst2pdf==0.98
pyyaml
nbsphinx
jupyter
ipykernel
jupyter-alabaster-theme
pydata-sphinx-theme
gdown
kaggle
#jinja2<3.1


# Test requirements

mypy
pytest
pytest-cov
nbval


# Types

types-requests



