
# Analysis Requirements

pandas
matplotlib
seaborn
h5py
pooch
torch
scikit-learn
mne


# Docs requirements
sphinx==5.0.0
sphinx-gallery==0.15.0
sphinx_rtd_theme==2.0.0
sphinx-tabs==3.4.4
sphinx-copybutton==0.5.2
sphinxcontrib-httpdomain==1.8.1
numpydoc==1.1.0
recommonmark==0.6.0
versioneer==0.19
rst2pdf==0.98
pyyaml
nbsphinx
jupyter
ipykernel
jupyter-alabaster-theme
gdown==4.6
jinja2<3.1


# Test requirements

mypy
pytest
pytest-cov
nbval


# Types

types-requests



