/* Hide the A11y label but keep it for screen-readers */
.visually-hidden {
    position:absolute!important;
    width:1px!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    clip:rect(0,0,0,0)!important;
    white-space:nowrap!important;
    border:0!important;
    padding:0!important;
}

